* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    min-height: 7vh;
    position: fixed;
    width: 100%;
}

#header .logo h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 26px;
    color: rgb(24, 24, 24);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%
}

.nav-list li a {
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-icon {
    display: none;
}

.nav-icon:hover div{
    background-color: rgb(49, 49, 49);
}

.nav-icon div {
    background-color: #696969;
    width: 25px;
    height: 3px;
    margin: 5px;
}

@media (max-width: 1360px) {
    .nav-list {
        width: 40%;
    }
}

@media (max-width: 925px) {
    .nav-list {
        width: 45%;
    }
}

/* mobile */
@media (max-width: 730px) {
    .nav-list {
        position: absolute;
        right: 0;
        top: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 50%;
        background: aquamarine;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .activated {
        transform: translateX(0);
        transition: transform .5s ease-in;
    }

    .nav-icon {
        display: block;
    }
    .activated div {
        background-color: black;
    }

    .activated .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: transform 0.5s ease;
    }
    .activated .line2 {
        opacity: 0;
    }
    .activated .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        transition: transform 0.3s ease;
    }
}

#intro {
    margin-top: 7vh;
    background-color: #7fccb6;
    text-align: center;
    color: #363232;
}

#intro h1 {
    margin: 3rem 0 0 0;
    font-family: 'Poppins', sans-serif;
}
#intro h2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
